.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 10px 24px;
  height: 90px;
  border-bottom: 1px solid #dedede;
  cursor: pointer;

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
  }

  &:hover {
    background-color: #f3f3f3;
  }

  &.active {
    border-left: 4px solid #fdb84f;
    padding-left: 20px !important;

    &:hover {
      background-color: #f9f9f9;
    }
  }

}

.preview {
  display: flex;
  width: 100%;
  padding: 25px 40px;

  input, textarea {
    background: transparent;
    border: none !important;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    font-size: 18px;
    font-weight: 600;
  }

  textarea {
    font-size: 15px;
    min-height: calc(100% - 25px) !important;
  }
}
